/* COULEURS :
  orange = #f2b76a
  bleu = #0e89ca
  gris = #dcdddc
  gris texte = #a9aaa9
*/

@font-face {
    font-family: 'neon_80sregular';
    src: url('../font/neon-webfont.woff2') format('woff2'),
         url('../font/neon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: "Arial", sans-serif;
	font-size: 1.2em;
  color: #707070;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  transition: all 0.3s ease;
  color: #38B;
}

a:hover, a:focus {
  text-decoration: none;
  color: #f2b76a;
}

a:focus {
  outline: none;
}

.btn {
  padding: 8px 32px;
}

.btn:hover {
  background-color: #dcdddc;
}

blockquote {
  font-size: 0.86em;
  line-height: 1.5em;
}

.tm-section-pad-top {
  padding-top: 80px;
  padding-bottom: 0px;
}

.tm-content-box {
  padding-top: 20px;
  padding-bottom: 0px;
}

.tm-text-primary {
  color: #37A;
}

.tm-font-big {
  font-size: 1.25rem;
}

.tm-btn-primary {
  color: white;
  background-color: #0e89ca;
  padding: 14px 30px;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  color: white;
  background-color: #38B;
}

/* ----------------------- MENU ----------------------- */

.tm-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease;
}

.tm-navbar.scroll {
  background-color: white;
  border-bottom: 1px solid #e9ecef;
}

.navbar-brand {
  content: url(../img/logo-mg-blanc.png);
  height: 7vh;
}

.navbar-brand.scroll {
  content: url(../img/logo-mg-noir.png);
}

.navbar-brand {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar-brand:hover,
.tm-navbar.scroll .navbar-brand:hover {
  color: #38B;
}

.tm-navbar.scroll .navbar-brand {
  color: #0e89ca;
  background-color: white;
}

.nav-item {
  list-style: none;
}

.tm-nav-link {
  color: white;
}

.tm-navbar.scroll .tm-nav-link {
  color: #0e89ca;
}

.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
  color: #FFF;
  background-color: #0e89ca;
}

.navbar-toggler {
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggler-icon {
  color: white;
  padding-top: 6px;
}

.tm-navbar.scroll .navbar-toggler {
  border: 1px solid #707070;
}

.tm-navbar.scroll .navbar-toggler-icon {
  color: #707070;
}


/* ----------------------- Hero ----------------------- */

#home {
  background-image: url(../img/background-mobile.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center !important;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: relative;
}

@media only screen and (min-width: 600px) {
  #home {
    background-image: url(../img/background.png); 
  }
}

.tm-hero-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.tm-hero-text-container-inner {
  margin-top: -90px;
}

.tm-hero-title {
  font-size: 4.5rem;
  font-family: 'neon_80sregular';
  text-shadow: 2px 2px 2px #333;
  color: white;
}

.tm-hero-subtitle {
  font-size: 3.5rem;
  font-family: 'neon_80sregular';
  text-shadow: 2px 2px 2px #333;
  padding-bottom: 60px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .tm-hero-title {
    font-size: 3.5rem;
  }

  .tm-hero-subtitle {
    font-size: 2.5rem;
  }
}

.tm-intro-next {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

#social, #social2 {
  font-size: 40px;

}

#social a, #social2 a {
  color: white;
  padding-right: 10px;
}

#social a:hover {
  color: #f2b76a;
}

#social2 a:hover {
  color:#0e89ca;
}

@media (max-height: 480px) {
  .tm-hero-text-container-inner {
    margin-top: -40px;
  }

  .tm-intro-next {
    bottom: 20px;
  }
}

.tm-down-arrow-link {
  display: block;
}

.tm-down-arrow {
  	color: #FFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tm-down-arrow:hover,
.tm-down-arrow:focus {
  color: #FFF;
  padding: 20px 50px;
  background-color: rgba(255,255,255,0.4);
}

hr {
  margin-left: 0;
  margin-bottom: 20px;
  border: solid 1.5px #f2b76a;
}


.tm-section-title {
  font-size: 2.7rem;
  font-weight: normal;
  font-family: 'neon_80sregular';
  color: #f2b76a;
  margin-bottom: 0;
}

.tm-intro-text {
  font-size: 1.2rem;
  text-align: justify;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 8%;
  -moz-column-gap: 8%;
  column-gap: 8%;
}


/* ---------------- Compétences & intérêts ---------------- */

h3 {
  font-family: 'neon_80sregular';
  text-align: center;
  color: #0e89ca;
  font-weight: bold;
  font-size: 1.9em;
  margin-bottom: 20px;
}

#dispComp, #dispComp2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

@media (max-width: 600px) {
  #dispComp, #dispComp2 {
    flex-direction: column;
  }
}

#dispComp2 {
  margin-bottom: 5%;
}

#dispComp img, #dispComp2 img {
  height: 70px;
  width: 70px;
}

#dispComp p, #dispComp2 p {
  padding-bottom: 20px;
  font-family: 'neon_80sregular';
  font-size: 20px;
}

#dispComp img {
  color: white;
}

#titleInteret {
  padding-bottom: 3%;
}

#interet {
  color: white;
  background-image: url(../img/bg-bangkok.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 1024px) {
  #interet {
    background-image: url(../img/bg-bangkok-mobile.jpg); 
  }
}

.tm-testimonials-content {
  position: relative;
  z-index: 100;
}

.tm-bg-overlay {
  width: 100%;
  height: 100%;
  background: rgba(20, 70, 80, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#iconSkills {
  font-size: 70px;
  color: black;
}


/* ----------------------- PORTFOLIO ----------------------- */

#portfolio {
  padding-bottom: 80px;
}

#gallery {
  padding-bottom: 40px;
  padding-top: 10px;
}

/* Hover Effect */
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  width: 90%;
}

@media (max-width: 991px) {
  .grid figure {
    width: 100%;
  }
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-size: 0.9em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 600;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

#video {
  padding-top: 3%;
}

#textvideo {
  font-size: 0.8em;
}

/* -------------------------- RETOUR EN HAUT --------------------------- */

#scroll_to_top { 
  position: fixed; 
  height: 26px;
  width: 26px;
  bottom: 30px; 
  right: 30px; 
} 


/* ----------------------- CONTACT ----------------------- */

#contact {
  color: white;
  background-color: black;
  background-image: url(../img/bg-bagan.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 50px;
  padding-top: 100px;
}

@media (max-width: 1024px) {
  #contact {
    background-image: url(../img/bg-bagan-mobile.jpg);
  }
}


#h2Contact {
  padding-bottom: 5%;
}

.contact-item {
  margin-left: 20px;
  margin-bottom: 50px;
}

.item-link {
  display: flex;
  align-items: center;
}

.item-link i,
.item-link span {
  color: white;
  transition: all 0.3s ease;
}

.item-link:hover i,
.item-link:hover span {
  color: #3496d8;
}

.tm-input {
	margin: 0 0 20px 0;
	width: 90%;
  padding: 8px 20px;
  border-radius: 6px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

.tm-btn-submit {
	font-size: 0.9em;
	color: #fff;
	background-color: #0e89ca;
	width: 50%;
	margin-bottom: 60px;
}

.tm-btn-submit:hover {
	color: #fff;
	background-color: #38B;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.tm-footer {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  padding: 0 15px;
}

.tm-footer p {
	font-size: 0.85em;
  color: #a9aaa9;
}

@media (min-width: 768px) {
  .tm-intro-text-container {
    padding-left: 0px;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
  }

  .tm-container-gallery {
    max-width: 1290px;
  }

  .tm-container-contact {
    max-width: 1063px;
  }
}

@media (max-width: 991px) {
  .tm-intro-text-container {
    padding-left: 15px;
    padding-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-btn-submit {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {

  .navbar-nav {
    max-width: 200px;
    text-align: right;
  }

  .navbar-collapse {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 3px;
  }

  .navbar-collapse .nav-link {
    color: #707070;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .tm-gallery-container {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-gallery-container-2 {
    max-width: 350px;
  }

  .slick-dots li {
    margin: 0 8px;
  }

  .tm-gallery-item {
    margin: 0;
  }
}
